{% extends 'layout.html.twig' %}
{% block title %}Boutique- gestion commandes{% endblock %}
 {% block content %}
 <h4>nombre de commande : {{ commandes| length }} </h4>
 <table class="table table-dark">
 <thead>
 <tr>
 <th>ID</th>
 <th>Montant</th>
 <th>Date</th>
 <th>Membre</th>
 <th>Etat</th>
 <th>colspan="3">Action</th>
 <tr>
 </thead>
 <tbody>
 {% for c in commandes %}
 <tr>
 <td>{{c.id}}</td>
 <td>{{c.montant | number_format(2,',','')}}€</td>
 <td>{{c.dateEnregistrement | date("d/m/y H:i:s")}}</td>
<td>
{{c.membreId.prenom}} 
{{c.membreId.nom}}
{{c.membreId.id}}<br/>
{{c.membreId.adresse}}<br/>
{{c.membreId.codePostal}}
{{c.membreId.ville}}
</td>
<td>
{% if c.etat ==0 %}<strong style="color:red">en cours de traitement</strong>
{% elseif c.etat == 1 %}<strong style="color:orange">en route</strong>
{% elseif c.etat == 2 %} <strong style="color:lightgreen">Livré</strong>
{% else %}<strong>Autres</strong>
{% endif %}

</td>
</tr>

 {% endfor %}
 </tbody>
 </table>
 {% endblock %}